@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    font-family: 'Garamond', serif;
    background-color: #e8e8e8;
}

.paper {
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.title {
    font-family: 'EB Garamond', serif;
    /* adjust size as needed */
}


.title .lastname {
    color: #26428b;
}

.subtitle {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    /* adjust size as needed */
    color: #63666A;
}

.section-header {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    color: #4C4E52;
    border-bottom: 1px solid black;
}

.section-header span {
    color: #26428b;
    /* Blue color for the first 3 letters */
}

.skill-category b {
    font-weight: bold;
    /* Bold text for skill category names */
}


.dates {
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.dates b {
    margin: 0;
    padding: 0;
}

.dates p {
    margin: 0;
    padding: 0;
}

.spectral {
    font-family: 'Spectral', serif;
}